// Colors
$brand-100: #EAF1FB;
$brand-200: #6FA1EC;
$brand-300: #2F73DA;
$brand-400: #165ECC;
$brand-500: #034AB3;
$neutral-white: #ffffff;
$neutral-100: #F8F9FB;
$neutral-200: #EEF1F6;
$neutral-300: #E4E8EE;
$neutral-400: #CDD3DD;
$neutral-500: #A8B1BD;
$neutral-600: #6A7381;
$neutral-700: #49505A;
$neutral-800: #1F2329;
$neutral-900: #121417;
$success-100: #DDFDED;
$success-200: #0AC295;
$success-300: #09A57F;
$success-400: #078364;
$success-500: #027357;
$warning-100: #FEF7B9;
$warning-200: #FFDA6C;
$warning-300: #FFB400;
$warning-400: #FA8902;
$warning-500: #C33E01;
$error-100: #FCD2CF;
$error-200: #F45532;
$error-300: #DF320C;
$error-400: #C61A0B;
$error-500: #AE0A0A;
$chart-1: #74E4DA;
$chart-2: #ED64A4;
$chart-3: #F3DC46;
$chart-4: #BABFC5;
$chart-5: #60A9FF;
$chart-6: #C8BAEE;
$chart-7: #585E67;
$chart-mono-1: #C3EAFF;
$chart-mono-2: #8ED7FF;
$chart-mono-3: #60A9FF;
$chart-mono-4: #2F73DA;
$chart-mono-5: #034AB3;
$chart-mono-6: #002966;