// Shadows
$shadow-low: 0px 2px 8px rgba(87, 102, 117, 0.1);
$shadow-med: 0px 6px 12px rgba(87, 102, 117, 0.14), 0px 3px 8px rgba(87, 102, 117, 0.06);
$shadow-high: 0px 12px 20px rgba(87, 102, 117, 0.2), 0px 0px 10px rgba(87, 102, 117, 0.04);
$focus-ring: 0px 0px 0px 2px $brand-200;
$focus-ring-error: 0px 0px 0px 2px $error-200;