//Spacing
$spacing-4px: 4px;
$spacing-8px: 8px;
$spacing-12px: 12px;
$spacing-16px: 16px;
$spacing-24px: 24px;
$spacing-32px: 32px;
$spacing-40px: 40px;
$spacing-48px: 48px;
$spacing-64px: 64px;
$spacing-96px: 96px;